<!DOCTYPE html>
<html lang="en">
<head style="background-color: #151515;">
    <style>
        h1 {
          text-align: left;
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Model</title>
    <link rel="stylesheet" type="text/css" href="../static/modelpage.css">
  </head>


  <div class="main">
    <div class="content">
      <div class="navbar">
        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/modelpage.html">Model</a></li>
          <li> <a href="/sources.html">Sources</a></li>
        </ul>
      </div>

      <body>
      <section class = "webdesigntuts-workshop">
        <form action="/recommend_songs", method="POST">
          <input type="search" id="input" name="input" placeholder="{song} by {artist}"><br>
          <!-- <input type="submit" class = "button-21" value="Recommend songs"> -->
    </form>
    
    <!-- For each song - album_url pair in the list of tuples, the album_url is placed into the song_image class & song name is placed in a p tag -->
    {% for song, album_url in results %}
    <div class="song-container">

      <div class="song-image">
        <img src="{{ album_url }}" alt="Song Image">
      </div>

        <p>{{ song }}</p>
    </div>
    {% endfor %}

  </section>
  
  
  
</body>

  
</div>
