<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
          text-align: left;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Model</title>
    <link rel="stylesheet" type="text/css" href="../static/modelpage.css">
    </head>
    <div class="main">
    <div class="content">
      <div class="navbar">
        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/KMeans.html">Algorithm</a></li>
          <li> <a href="/modelpage.html">Model</a></li>
          <li> <a href="/charts.html">Charts</a></li>
          <li> <a href="/sources.html">Sources</a></li>
      </ul>
      </div>
      <h1 class="title">Song Recommendations</h1>
<body>
  
  <form action="/recommend_songs", method="POST">
    <label for="input">Enter a Song: ({song_title} by {artist})</label><br>
    <input type="text" id="input" name="input"><br>
    <input type="button" value="Submit">
  </form>
  

<!-- For each song - album_url pair in the list of tuples, the album_url is placed into the song_image class & song name is placed in a p tag -->
  <h1>Results:</h1>
  {% for song, album_url in results %}
  <div class="song-container">
    <div class="song-image">
      <img src="{{ album_url }}" alt=""Song Image">

    </div>
    <p>{{ song }}</p>
  </div>
  {% endfor %}
  
</body>

  
</div>